---
import Scripts from "../components/Scripts.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Invitaciones para evento" />

		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="- Nuestra Boda Alejandro & Marlene"
		/>
		<meta property="og:description" content="- Nuestra Boda -" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="/img/IMG-OGmini.jpg" />
		<meta property="og:image:width" content="709" />
		<meta property="og:image:height" content="709" />

		<link type="image/x-icon" rel="shortcut icon" href="/img/favicon.png" />

		<!-- Core CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/styles/font-awesome_all.min.css" />
		<link rel="stylesheet" href="/styles/animate.css" />
		<link rel="stylesheet" href="/styles/style.css" />

		<!-- Scripts Component -->
		<Scripts />

		<!-- preguntame-->
		<script src="/scripts/confetti.browser.js" type="text/javascript"
		></script>
		<link rel="stylesheet" href="/styles/font-awesome_all.min.css" />
		<!-- Google fonts include -->

		<!-- Bootstrap-css include -->
		<link rel="stylesheet" href="/styles/trivia/bootstrap.min.css" />
		<!-- Animate-css include -->
		<link rel="stylesheet" href="/styles/trivia/animate.min.css" />
		<!-- Main-StyleSheet include -->
		<link rel="stylesheet" href="/styles/trivia/style.css" />
		<link rel="stylesheet" href="/styles/trivia/estilos.css" />

		<link
			rel="stylesheet"
			href="/styles/venobox.min.css"
			type="text/css"
			media="screen"
		/>

		<style type="text/css">
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/latin-ext/400/normal.woff2);
				unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
					U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
					U+2C60-2C7F, U+A720-A7FF;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/cyrillic/400/normal.woff2);
				unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1,
					U+2116;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/latin/400/normal.woff2);
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
					U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
					U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
					U+FEFF, U+FFFD;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/greek/400/normal.woff2);
				unicode-range: U+0370-03FF;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/vietnamese/400/normal.woff2);
				unicode-range: U+0102-0103, U+0110-0111, U+0128-0129,
					U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301,
					U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9,
					U+20AB;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/cyrillic-ext/400/normal.woff2);
				unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
					U+A640-A69F, U+FE2E-FE2F;
				font-display: swap;
			}
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				src: url(/cf-fonts/s/roboto/5.0.11/greek-ext/400/normal.woff2);
				unicode-range: U+1F00-1FFF;
				font-display: swap;
			}
		</style>

		<link href="/styles/css2.css" rel="stylesheet" />

		<!-- Fonts -->
		<style>
			@font-face {
				font-family: Josefin Slab;
				src: url("/invitaciones/fonts/theme/46aYWdgz-1oFX11flmyEfS3USBnSvpkopQaUR-2r7iU.ttf");
			}
			.modal-audio {
				padding: 4%;
				text-align: center;
			}
			.modal-audio span {
				color: black !important;
			}
			.modal-audio .btn {
				border-radius: 10px;
				margin-top: 3%;
			}
			.letraPrincipal {
				font-family: Norican !important;
			}
			.letraSecundaria {
				font-family: Cinzel !important;
			}
		</style>

		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		<title>- Nuestra Boda - Alejandro &amp; Marlene</title>
		<!-- Bootstrap core CSS -->
		<link
			href="/styles/trivia/bootstrap.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- Font Awesome -->
		<link
			href="/styles/font-awesome.min.css"
			rel="stylesheet"
			type="text/css"
		/>

		<link href="/styles/flexslider.css" rel="stylesheet" type="text/css" />

		<link
			href="/styles/magnific-popup.css"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- animate -->
		<link href="/styles/animate.css" rel="stylesheet" type="text/css" />
		<!-- Pace -->
		<link href="/styles/preloader.css" rel="stylesheet" type="text/css" />
		<!-- Carousel -->
		<link
			href="/styles/owl.carousel.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link href="/styles/style.css" rel="stylesheet" type="text/css" />
		<!-- AddEvent theme css -->
		<link
			rel="stylesheet"
			href="/styles/theme6.css"
			type="text/css"
			media="screen"
		/>

		<style>
			.personalColorTitutlo {
				color: #b78455 !important;
			}
			.personalColorFraseLarga {
				color: #b78455 !important;
			}
			.personalColorFraseFinal {
				color: #ffffff !important;
			}

			#message::placeholder,
			#message,
			#name {
				color: #ffffff !important;
				opacity: 1;
			}
		</style>

		<style>
			#qrcode {
				max-width: 250px;
				padding: 10px;
				background-color: rgba(255, 255, 255, 0.7);
				margin: 0px auto;
				border-radius: 15px;
			}

			.sobre {
				width: 100%;
				position: relative;
				bottom: 0px;
				position: absolute;
				background: #fafafa;
				z-index: 99;
			}
			.sup {
				top: 0;
				height: 60%;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				border: 2px solid black;
				box-shadow: 1px 4px 12px #000000b5;
				z-index: 101;
			}
			.sdw {
				bottom: 0;
				height: 55%;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				border: 2px solid black;
			}
			.sobreNames {
				width: 100%;
				text-align: center;
				bottom: 100px;
				position: absolute;
				font-size: 33px;
				line-height: 45px;
			}
			.sello {
				text-align: center;
				bottom: 0%;
				background: #9e9090;
				border-radius: 50px;
				position: absolute;
				width: 100px;
				color: white;
				margin: 0px auto;
				left: 50%;
				margin-left: -50px;
				padding: 20px;
				margin-bottom: -27px;
				z-index: 199999;
			}
			.mesa {
				width: 330px;
				max-width: 330px;
				margin: 0px auto;
				position: absolute;
				z-index: 999;
				top: 20px;
				height: 250px;
				overflow: hidden;
			}
			.blackclover {
				/* border: solid black; */
				width: 100%;
				/* background-color: #9E9E9E; */
				height: 100%;
				border-top: 230px solid #bcbcbc;
				position: absolute;
				z-index: 8;
				border-bottom: 230px solid #bcbcbc;
				border-left: 30px solid #bcbcbc;
				border-right: 30px solid #bcbcbc;
			}
		</style>
		<script type="text/javascript"></script>
	</head>
	<body
		data-pais="Mexico"
		id="invitacion"
		class="body-offcanvas pace-done"
		data-category="Boda"
		style="background: #f9f9f9;"
		data-idpase=""
		data-slug="boda-alejandroymarlene"
		><div class="pace pace-inactive">
			<div
				class="pace-progress"
				data-progress-text="100%"
				data-progress="99"
				style="transform: translate3d(100%, 0px, 0px);"
			>
				<div class="pace-progress-inner"></div>
			</div>
			<div class="pace-activity"></div>
		</div>

		<!--PRELOADER-->
		<div id="preloader" style="display: none;" hidden="">
			<div class="alignment">
				<div class="v-align center-middle"></div>
			</div>
		</div>

		<div class="container containerCustom px-0">
			<div
				id="homeslider-wrap"
				class="homesliderimage2"
				style="height: 84vh; background-image:url('/img/IMAGEN-HEADERportpc.jpg'); display: flex; justify-content: center; align-items: flex-end; background-position: 50% 50%; background-color: #FFF; -webkit-transform: translateZ(0); overflow: hidden;"
			>
				<div id="countdown" class="vertical-center countdown-box">
					<div class="row">
						<div
							class="col-md-offset-1 col-md-10 carousel-caption2 animated-element-1 delay1 my-5 animated fadeIn"
						>
							<h1
								class="titprin personalColorTitutlo letraSecundaria"
							>
								- Nuestra Boda -
							</h1>
							<!-- <h1 class="titprin personalColorTitutlo"> - Nuestra Boda -</h1> -->
							<h2
								class="margin personalColorTitutlo letraPrincipal"
							>
								Alejandro &amp; Marlene
							</h2>
							<div id="clock" class="personalColorTitutlo">
								<span class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										1116
									</div><div
										class="value-label letraPrincipal"
									>
										Días
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										03
									</div><div
										class="value-label letraPrincipal"
									>
										Horas
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										00
									</div><div
										class="value-label letraPrincipal"
									>
										Minutos
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										04
									</div><div
										class="value-label letraPrincipal"
									>
										Segundos
									</div></span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var screenHeight = $(window).height() - 150;
			$(".screen-adapter").css("height", screenHeight);
		</script>

		<style>
			#invitamePass .datagroup {
				text-align: left;
				font-size: 15px;
				background-color: transparent;
			}
			#paseDatos .datagroup {
				margin-bottom: 30px;
				margin-top: 14px;
			}
			#invitamePass .datagroup div {
				text-align: left;
				font-size: 17px !important;
				font-weight: 600;
				line-height: 36px;
				margin-bottom: 10px;
			}
			#invitamePass .datagroup label {
				color: #9e9e9e;
				font-size: 13px !important;
			}
			#invitamePass {
				font-family: "Roboto" !important;
			}
			#qrcode {
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
			@media screen and (max-width: 768px) {
				#qrcode {
					padding: 10px !important;
				}
			}
		</style>

		<!--  FRASEL LARGA SECTION -->

		<section
			id="FRASELARGA"
			class="container containerCustom background-cover"
			style="background-color: #333;background-image: url('/img/FOTO_FRASE_LARGAfrpc.jpg');"
		>
			<div class="row">
				<div
					class="col-lg-8 col-md-offset-2"
					style="min-height: 1vh;display: flex; align-items: center;"
				>
					<div class="hash-box">
						<div class="text-center">
							<h1
								class="frasesMax letraSecundaria personalColorFraseLarga"
								style="text-shadow: 0 1px 2px rgba(0,0,0,0.6);"
							>
								<br /><br />
								" A veces lo que empieza <br>
								como una locura<br />
								se convierte en lo <br>
								mejor de tu vida "
							</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END INSTAGRAM SECTION -->

		<!-- WEDDING SECTION HEADER -->
		<section
			class="container containerCustom"
			style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #f7efe7"
		>
			<section id="wedding-header" class="wedding-header-single-page">
				<div class="text-center">
					<!-- ICON IMAGE -->

					<!-- TITLE -->
					<h2
						class="headline letraPrincipal"
						style="color: #b78455 !important;"
					>
						Dónde &amp; Cuándo<br />
						<hr />
						<div style="font-size:25px;">Ceremonia</div><style>
							/* COLOR DE BOTONES DE CEREMONIA */
							.btn-map,
							.addeventatc {
								background: #eadacf !important;
							}
						</style>
						<style>
							h1.personalColorTitutlo,
							h2.personalColorTitutlo {
								color: transparent !important;
								text-shadow: none !important;
							}
						</style>
					</h2>

					<div
						class="animated animated-element-1 col-md-6 fadeIn margin1 pading-text"
						style="float: none; margin: 0 auto;"
					>
						<div
							class="wraper-we letraSecundaria onepage alturaTarjetas bgCeremoonias"
							style="color: rgb(16, 16, 16) !important; background-color: rgba(249, 249, 248, 0.51);"
						>
							<h3 class="letraSecundaria">
								<div align="center">
									Parroquia de Cristo Rey
								</div>
							</h3>
							<img
								src="/img/CEREMONIA1-IMGCEREMONIA1-IMGceryrec.jpg"
								alt="Ceremonia"
								class="img-responsive center-block fl-wd"
							/>
							<h3 class="wed-text letraSecundaria"></h3>

							<div class="wed-text">
								<b>Dirección:</b> Av. Guerra de Reforma, Av. Leyes
								de Reforma 1131, 3a. Secc, Iztapalapa, 09310 Ciudad
								de México
							</div>

							<div
								type="button"
								class="btn-map"
								data-toggle="modal"
								data-target="#mapa1"
							>
								Ver mapa de la Ceremonia
							</div>
						</div>
					</div>
				</div>

				<div class="text-center" style="margin-top: 50px;">
					<!-- ICON IMAGE -->

					<!-- TITLE -->
					<h2
						class="headline letraPrincipal"
						style="color: #b78455 !important;"
					>
						<div style="font-size:25px;">Recepción</div><style>
							/* COLOR DE BOTONES DE CEREMONIA */
							.btn-map,
							.addeventatc {
								background: #eadacf !important;
							}
						</style>
						<style>
							h1.personalColorTitutlo,
							h2.personalColorTitutlo {
								color: transparent !important;
								text-shadow: none !important;
							}
						</style>
					</h2>

					<div
						class="animated animated-element-1 col-md-6 fadeIn margin1 pading-text"
						style="float: none; margin: 0 auto;"
					>
						<div
							class="wraper-we letraSecundaria onepage alturaTarjetas bgCeremoonias"
							style="color: rgb(16, 16, 16) !important; background-color: rgba(249, 249, 248, 0.51);"
						>
							<h3 class="letraSecundaria">
								<div align="center">Salón MariAngelica</div>
							</h3>
							<img
								src="/img/CEREMONIA2-IMGCEREMONIA1-IMGceryrec.jpg"
								alt="Recepción"
								class="img-responsive center-block fl-wd"
							/>
							<h3 class="wed-text letraSecundaria"></h3>

							<div class="wed-text">
								<b>Dirección:</b> C. 14 Nº31, Leyes de Reforma 2da
								Secc, Iztapalapa, 09310 Ciudad de México, CDMX
							</div>

							<div
								type="button"
								class="btn-map"
								data-toggle="modal"
								data-target="#mapa2"
							>
								Ver mapa de la Recepción
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END WEDDING SECTION HEADER -->

			<!-- Opacidad recuadros -->
			<script type="text/javascript">
				$(document).ready(function () {
					$("#wedding-info .wraper-we letraSecundaria").css(
						"background-color",
						"rgba(249, 249, 248, 0.51)",
					);
					$("#wedding-info .wraper-we2 letraSecundaria").css(
						"background-color",
						"none !important",
					);
					$(".otros-hoteles-bk").css(
						"background-color",
						"rgba(249, 249, 248, 0.51)",
					);
					$(".cbuBox").css("background-color", "none !important");
				});
			</script>

			<!-- mapas modales -->
			<!-- Modal Ceremonia -->
			<div id="mapa1" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="z-index:999;">
						<div class="modal-header">
							<button
								type="button"
								class="close"
								data-dismiss="modal">×</button
							>
							<h4 class="modal-title letraSecundaria">
								<div align="center">
									Parroquia de Cristo Rey
								</div>
							</h4>
						</div>
						<div class="modal-body">
							<div class="maps">
								<!-- Tomsom - Mapa por coordenadas -->
								<iframe
									class="mapa-pop"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4477825074096!2d-99.07247492374526!3d19.376133181746447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fdba94c0e3e7%3A0xf4c974d43719a28d!2sParroquia%20de%20Cristo%20Rey!5e0!3m2!1ses!2smx!4v1699491175044!5m2!1ses!2smx"
									width="100%"
									height="300"
									style="border:0"
									allowfullscreen=""
									loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"
								></iframe>
							</div>
							<h3 class="wed-text"></h3>

							<div class="wed-text">
								<b>Dirección:</b> Av. Guerra de Reforma, Av. Leyes
								de Reforma 1131, 3a. Secc, Iztapalapa, 09310 Ciudad
								de México
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn letraSecundaria btn-default"
								data-dismiss="modal">Cerrar</button
							>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal Recepción -->
			<div id="mapa2" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="z-index:999;">
						<div class="modal-header">
							<button
								type="button"
								class="close"
								data-dismiss="modal">×</button
							>
							<h4 class="modal-title letraSecundaria">
								<div align="center">Salón MariAngelica</div>
							</h4>
						</div>
						<div class="modal-body">
							<div class="maps">
								<!-- Tomsom - Mapa por coordenadas -->
								<iframe
									class="mapa-pop"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4783873633083!2d-99.07240372374527!3d19.374384781747198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fd61e09dd531%3A0x30dd3a6108131a94!2sSal%C3%B3n%20MariAngelica!5e0!3m2!1ses!2smx!4v1699491265461!5m2!1ses!2smx"
									width="100%"
									height="300"
									style="border:0"
									allowfullscreen=""
									loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"
								></iframe>
							</div>
							<h3 class="wed-text"></h3>
							<div class="wed-text">
								<b>Dirección:</b>C. 14 Nº31, Leyes de Reforma
								2da Secc, Iztapalapa, 09310 Ciudad de México,
								CDMX
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn letraSecundaria btn-default"
								data-dismiss="modal">Cerrar</button
							>
						</div>
					</div>
				</div>
			</div>

			<!-- CEREMONIA 3 TOMSOM -->

			<script type="text/javascript">
				$(document).ready(function () {
					$(".bgCeremoonias").css(
						"background-color",
						"rgba(249, 249, 248, 0.51) !important",
					);
				});
			</script>
			<!-- end mapas modales -->
			<!-- hoteles SECTION HEADER -->

			<section
				class="container containerCustom py-5"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<div class="row dresscode">
					<!-- RECEPTION -->
					<div class="text-center">
						<h2
							class="headline letraPrincipal"
							style="color: #b78455 !important;"
						>
							¡Los detalles<br /> del gran día!
						</h2>
						<img
							src="/img/ITINERARIO-IMGitin1.jpg"
							alt="Icono"
							class="itinerarioImg"
						/>
					</div>
				</div>
			</section>

			<section
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #fcefe7"
			>
				<div class="row dresscode">
					<!-- RECEPTION -->
					<div class="text-center">
						<h2
							class="titulo letraPrincipal"
							style="color: 
               					 #b78455 !important;"
						>
							<hr />Dress Code<style>
								.img-responsive.center-block.img-headline-v2 {
									mix-blend-mode: multiply;
								}
							</style>
						</h2>
						<img
							src="/img/DRESSCODE-IMGdcok1.jpg"
							alt="480x320"
							class="img-responsive center-block img-headline-v2"
						/>
						<h3
							class="wed-text letraSecundaria"
							style="font-weight: 100;font-size: 16px; color: #101010 !important;"
						>
							<div style="font-size:18px;">
								<br />Formal<br />- Queremos tu mejor perfil
								para el álbum de recuerdos -<hr />
							</div>
						</h3>
					</div>
				</div>
			</section>

			<!-- SLIDER -->
			<section
				id="portfolio"
				class="container"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<div class="text-center" style="    margin-bottom: 0px;">
					<!-- TITLE -->
					<h2
						class="titulo letraPrincipal"
						style="color: 
                #b78455 !important;"
					>
						Mi felicidad eres tu...
					</h2>
					<!-- TEXT INFO -->
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS1.jpg"
								><img src="/img/FOTOS1.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS2.jpg"
								><img src="/img/FOTOS2.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS3.jpg"
								><img src="/img/FOTOS3.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS4.jpg"
								><img src="/img/FOTOS4.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS5.jpg"
								><img src="/img/FOTOS5.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS6.jpg"
								><img src="/img/FOTOS6.jpg" /></a
							>
						</ul>
					</div>
				</div>
			</section>
			<!-- END SLIDER-->

			<!-- BRIDSMAID-GROOSMAN HEADER SECTION -->
			<script type="text/javascript">
				$(document).ready(function () {
					$("#bridsmaid-groosman-content .thumbnail").css(
						"background-color",
						"rgba(249, 249, 248, 0.01) !important",
					);
				});
			</script>
			<div
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #f9ece8"
			>
				<section id="bridsmaid-groosman-header" class="onepage">
					<!-- BRIDSMAID HEADER WRAPPER -->
					<div class="text-center">
						<!-- ICON IMAGE -->

						<!-- TITLE -->
						<h2
							class="headline letraPrincipal"
							style="color: #b78455 !important"
						>
							Nuestros Padres
						</h2>
					</div>
					<!-- END BRIDSMAID-GROOSMAN HEADER WRAPPER -->
				</section>
				<!-- END BRIDSMAID HEADER SECTION -->

				<div
					class="frasesMax letraSecundaria 2"
					style="color: #383838;margin-top: 0px;"
				>
					<div style="font-size:20px;">
						¡Gracias por acompañarnos<br /> en este día tan especial!
					</div>
				</div>

				<!-- BRIDSMAID-GROOSMAN CONTENT SECTION -->

				<section id="bridsmaid-groosman-content" class="onepage">
					<div
						class="row text-center"
						style="display: flex; justify-content: center;"
					>
						<!-- BRIDESMAID ITEM-1 -->
						<div
							class="col-sm-6 col-md-4 animated-element animated fadeInUp"
						>
							<!-- BRIDESMAID WRAPPER -->
							<div
								class="thumbnail"
								style="background-color: rgba(249, 249, 248, 0.01); height: 500.672px;"
							>
								<!-- PHOTO -->

								<img
									src="/img/PERSONA1-IMG000novia.jpg"
									class="img-circle animated-element-1 animated fadeIn"
									alt="Groosman"
								/>
								<!-- BRIDESMAID INFO -->
								<div
									class="caption animated-element-1 animated fadeIn"
								>
									<!-- TITLE & EXCERPT -->
									<h3
										style="color: #383838;"
										class="letraPrincipal"
									>
										Margarita Sebastián Jose<br />&amp;<br
										/> Carlos Enrique Barrios
									</h3>
									<p>- Padres de la Novia -</p>
								</div>
								<!-- END BRIDESMAID INFO -->
							</div>
							<!-- END BRIDESMAID WRAPPER -->
						</div>
						<!-- END BRIDESMAID ITEM-1 -->

						<!-- BRIDESMAID ITEM-2 -->
						<div
							class="col-sm-6 col-md-4 animated-element delay1 animated fadeInUp"
						>
							<!-- BRIDESMAID WRAPPER -->
							<div
								class="thumbnail"
								style="background-color: rgba(249, 249, 248, 0.01); height: 500.672px;"
							>
								<!-- PHOTO -->

								<img
									src="/img/PERSONA2-IMG000novio.jpg"
									class="img-circle animated-element-1 animated fadeIn"
									alt="Groosman"
								/>
								<!-- BRIDESMAID INFO -->
								<div
									class="caption animated-element-1 animated fadeIn"
								>
									<!-- TITLE & EXCERPT -->
									<h3
										style="color: #383838;"
										class="letraPrincipal"
									>
										Rosa Angeles Yañez Reyes<br />&amp;<br
										/>Sabas Duran Dominguez
									</h3>
									<p>- Padres del Novio -</p>
								</div>
								<!-- END BRIDESMAID INFO -->
							</div>
							<!-- END BRIDESMAID WRAPPER -->
						</div>
					</div>
				</section>
			</div>

			<!-- GIFT REGISTRY HEADER SECTION -->
			<div
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<section id="gift-registry" class="onepage">
					<!-- GIFT HEADER WRAPPER -->
					<div class="text-center">
						<!-- TITLE -->
						<h2
							class="headline letraPrincipal"
							style="color: #b78455;"
						>
							<br />Obsequios
						</h2>
						<!-- TEXT INFO -->
					</div>
					<!-- END GIFT HEADER WRAPPER -->

					<div
						class="frasesMax letraSecundaria"
						style="color: #5c5c5c;margin-top: 0px;"
					>
						<div style="font-size:18px;">
							Tu presencia siempre será el mejor regalo para
							nosotros.

							<br />Pero si deseas acompañarnos con un detalle
							adicional, contaremos con sobres en el evento para
							depositar cartas, buenos deseos o una muestra de
							cariño para nuestro futuro juntos.

							<br />También podrás hacerlo de forma digital si así
							lo prefieres.
						</div>
					</div>
				</section>
				<!-- END GIFT REGISTRY HEADER SECTION -->

				<!-- GIFT REGISTRY CONTENT SECTION -->

				<section id="gift-logo-section" class="onepage">
					<div class="cbuBox">
						<div
							data-toggle="collapse"
							data-target="#cbubody"
							class="cbu letraSecundaria cbuHead"
						>
							<i style="color: #f05642;" class="fa fa-university"
							></i>Ver datos bancarios
						</div>
						<div
							class="cbu letraSecundaria cbuBody collapse"
							style="height: 70px; background: #fff;"
							id="cbubody"
						>
							<span
								style="color:black !important;"
								class="fixColorWhite"
							>
								• BANCO: BBVA<br />
								Nº DE CUENTA: 1509239385<br />
								CUENTA CLABE: 012180015092393851<br />
								TITULAR: Javier Duran Yañez
							</span>
						</div>
					</div>
				</section>
			</div>

			<!-- Custom-js include -->
			<script src="/scripts/trivia/script.js" type="text/javascript"
			></script>

			<!-- first include tsParticles engine  -->
			<script src="/scripts/tsparticles-engine.js" type="text/javascript"
			></script>

			<script
				src="scripts/tsparticles.bundle.min.js"
				type="text/javascript"></script>

			<script src="scripts/jquery-particles.js" type="text/javascript"
			></script>

			<script type="text/javascript">
				$(document).ready(async function () {
					// tsParticles.load("tsparticles",'efecto.json') ;
					//$("#tsparticles").particles();
				});
			</script>
		</section>

		<section
			id="reserve-image-background"
			class="footer-background-cover1 container containerCustom"
			style="background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: #deb097;"
		>
			<div class="row">
				<div class="col-xs-12">
					<!-- MAIN TITLE WRAPPER -->
					<div
						class="about-section-wraper letraPrincipal onepage text-center animated-element-1 animated fadeIn"
					>
						<!-- TITLE -->
						<h2
							style="color: #ffffff !important;"
							class="letraPrincipal"
						>
							Confirmar Asistencia
						</h2>
					</div>
					<!-- END MAIN TITLE WRAPPER -->
				</div>
			</div>

			<div
				class="frasesMax letraSecundaria text-center"
				style="color: #ffffff !important;"
			>
				¡GRACIAS POR COMPARTIR <br />ESTE DÍA TAN ESPECIAL <br />CON
				NOSOTROS!<br />¡Muchas Gracias!
			</div>

			<!-- SUSCRIBE FORM OUTER WRAPPER -->
			<div class="col-lg-10 col-md-offset-1">
				<div
					class="block-box-rsrv text-center"
					style="margin-top:30px;"
				>
					<!-- Contenedor de mensaje dinámico -->
					<div
						id="mensajeInvitado"
						class="letraSecundaria"
						style="color:white; font-size:1.2em; margin-bottom:20px;"
					>
						Cargando información...
					</div>

					<!-- Botón -->
					<button
						id="btnConfirmar"
						class="btn btn-light"
						style="background-color:#fff; color:#a87b5a; border:none; border-radius:25px; padding:10px 25px; font-weight:bold; display:none;"
					>
						Aceptar invitación
					</button>
				</div>
				<!-- END SUSCRIBE FORM INNER WRAPPER -->
			</div>
			<!-- END SUSCRIBE FORM OUTER WRAPPER -->

			<script>
				const scriptURL =
					"https://script.google.com/macros/s/AKfycbwDANBcHxSuuOPgKcknf8_sbu9NbvFVBwOidMUMeZpVLM9l07GjLDMAi9lqAtZmrFvY7Q/exec";
				const params = new URLSearchParams(window.location.search);
				const codigo = params.get("cd");
				const mensajeDiv = document.getElementById("mensajeInvitado");
				const btnConfirmar = document.getElementById("btnConfirmar");
				let invitado = null;

				if (!codigo) {
					mensajeDiv.innerHTML = "Código inválido o faltante.";
				} else {
					fetch(`${scriptURL}?cd=${codigo}`)
						.then((r) => r.json())
						.then((data) => {
							if (data.error) {
								mensajeDiv.innerHTML =
									"Invitado no encontrado.";
							} else {
								invitado = data;

								// Si ya había confirmado antes
								if (data.asistencia === "Confirmado") {
									mensajeDiv.innerHTML = `
						<b style="font-size:1.4em;">${data.nombre}</b>.<br>
						Tienes <b>${data.boletos}</b> boleto(s) asignado(s) y ya habías confirmado tu asistencia 💕
					`;
									btnConfirmar.style.display = "none";
									return;
								}

								// Si aún no ha confirmado
								mensajeDiv.innerHTML = `
					<b style="font-size:1.4em;">${data.nombre}</b>.<br>
					Tienes <b>${data.boletos}</b> boleto(s) asignado(s).<br><br>
					Favor de confirmar tu asistencia.
				`;
								btnConfirmar.style.display = "inline-block";
							}
						})
						.catch(
							() =>
								(mensajeDiv.innerHTML =
									"Error al conectar con el servidor."),
						);
				}

				btnConfirmar.addEventListener("click", () => {
					if (!invitado) return;
					btnConfirmar.disabled = true;
					btnConfirmar.innerText = "Enviando...";

					fetch(`${scriptURL}?cd=${codigo}&action=confirmar`)
						.then((r) => r.json())
						.then((res) => {
							mensajeDiv.innerHTML = `<b style="font-size:1.3em;">${res.mensaje}</b>`;
							btnConfirmar.style.display = "none";
						})
						.catch(() => {
							alert("Error al registrar la confirmación.");
							btnConfirmar.disabled = false;
							btnConfirmar.innerText = "Aceptar invitación";
						});
				});
			</script>
		</section>


		<!-- FOOTER -->
		<div class="container containerCustom px-0">
			<footer
				id="footer"
				class="footer-background-cover"
				style="background-image: url('/img/IMAGEN-FOOTERfinpc.jpg'); height: 82vh; display: flex; justify-content: center; align-items: flex-end;"
			>
				<div
					class="container containerCustom"
					style="display: flex; justify-content: center; align-items: flex-end;"
				>
					<div class="row">
						<!-- MAIN FOOTER HEADER OUTTER WRAPPER -->
						<div class="col-lg-12">
							<!-- MAIN FOOTER HEADER INNER WRAPPER -->
							<div
								class="text-center animated-element-1 delay1 animated fadeIn"
								style="width: 100%;"
							>
								<div class="margin">
									<h1
										style="font-size: 21px;"
										class="personalColorFraseFinal letraSecundaria"
									>
										<span></span>
									</h1>
									<h2
										class="margin personalColorFraseFinal letraPrincipal"
									>
										<span></span>
									</h2>
								</div>
								<!-- END FOOTER HEADER -->
							</div>
							<!-- END MAIN FOOTER HEADER INNER WRAPPER -->
						</div>
						<!-- END MAIN FOOTER HEADER OUTTER WRAPPER -->
					</div>
				</div>
			</footer>
		</div>
		<!-- Tomsom - sacar pie de página -->

		<!-- Tomsom - MUSICA -->

		<audio id="musica" loop="">
			<source src="/img/cancion.mp3" type="audio/mp3" />
		</audio>

		<div
			class="musicaOff letraSecundaria"
			style="background-color: #b0b0b0 !important"
			target="_blank"
			id="sonidomusicaOff"
		>
			<i class="fa fa-volume-up flotante" id="iconoMusica"></i>
		</div>

		<div
			class="musicaOn"
			target="_blank"
			style="background-color: #b0b0b0 !important"
			id="sonidoMusicaOn"
		>
			<img src="/img/musica-on-4.gif" />
		</div>

		<!-- Welcome Modal -->
		<div
			class="modal fade"
			id="modalBienvenida"
			tabindex="-1"
			role="dialog"
			aria-labelledby="modalBienvenidaLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body text-center">
						<h3 class="mb-4">
							Bienvenido<br /><br /> Fuiste invitado a la boda de<br
							/>Alejandro & Marlene
						</h3>
						<div class="mb-3" id="boton-modal">
							<button
								class="btn letraSecundaria btn-primary w-50 rounded-pill b1 text-transform"
								style="background-color: #b0b0b0; border-color: #b0b0b0;"
							>
								Ingresar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="divWSP"></div>

		<script src="/scripts/modernizr.js" type="text/javascript"></script>
		<script src="/scripts/device.js" type="text/javascript"></script>
		<script src="/scripts/jquery.flexslider.js" type="text/javascript"
		></script>
		<!--   <script src="js/jquery.magnific-popup.js"></script> -->
		<script src="/scripts/bootstrap.offcanvas.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery.waypoints.min.js" type="text/javascript"
		></script>
		<script src="/scripts/sticky.min.js" type="text/javascript"></script>
		<script src="/scripts/jquery.vide.js" type="text/javascript"></script>
		<!--   -->
		<script src="/scripts/pace.min.js" type="text/javascript"></script>
		<!--    <script src="js/owl.carousel.js"></script>  -->
		<script src="/scripts/jquery.smooth-scroll.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery.validate.min.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/scripts/html2pdf.bundle.min.js" type="text/javascript"
		></script>

		<!-- Galeria  -->
		<script type="text/javascript" src="/scripts/venobox.min.js"></script>

		<!-- Them script -->
		<script src="/scripts/script.js" type="text/javascript"></script>

		<script type="text/javascript">
			/* 27/11/2028 14:00:00 */
			window.scroll({
				top: 0,
				left: 0,
				behavior: "instant",
			});
			$(document).ready(function () {
				if (document.getElementById("nombrePlayer") !== null) {
					document.getElementById("nombrePlayer").style.height =
						"40px";
				}

				$(".cbuHead").on("click", function () {
					$(".fixColorWhite").css("z-index", "9999");
				});

				if ($("#modalVencimiento").length) {
					$("#modalVencimiento").modal({
						backdrop: "static",
						keyboard: false,
					});
					$("#modalVencimiento").modal("show");
				}

				setTimeout(() => {
					$("#modalBienvenida").modal("show");
				}, 800);

				$("#boton-modal").click(function () {
					$("#modalBienvenida").modal("hide");
					var audio = document.getElementById("musica");
					audio.play();
					audio.muted = false; // without this line it's not working although I have "muted" in HTML
				});

				$("#modalBienvenida").on("click", function () {
					var audio = document.getElementById("musica");
					audio.play();
					audio.muted = false;
				});
			});

			function apagarMusica() {
				var audio = document.getElementById("musica");
				console.log("entre audio apagar");
				$("#sonidoMusicaOff").show();
				$("#sonidoMusicaOn").hide();
				audio.pause(); // without this line it's not working although I have "muted" in HTML
			}

			$("#sonidomusicaOff").click(function () {
				var audio = document.getElementById("musica");
				console.log("entre audio encender");
				$("#sonidoMusicaOn").show();
				$("#sonidoMusicaOff").hide();

				audio.play(); // without this line it's not working although I have "muted" in HTML
			});

			$("#sonidoMusicaOn").click(function () {
				apagarMusica();
			});

			$("#video-link").click(function () {
				apagarMusica();
			});

			function obtenerDivMasAlto(nombreClase, widthMinimo) {
				$(nombreClase).height("auto");
				let alturaMaxima = 0;
				let divMasAlto = null;

				if ($(window).width() <= widthMinimo) {
					// Restablecer altura original
					$(nombreClase).each(function () {
						const alturaOriginal = $(this).data("altura-original");
						$(this).height(alturaOriginal);
					});
					return null; // Retorna null si el ancho no cumple la condición
				}

				$(nombreClase).each(function () {
					const altura = $(this).outerHeight(true);
					if (altura > alturaMaxima) {
						alturaMaxima = altura;
						divMasAlto = $(this);
					}
				});
				$(nombreClase).height(alturaMaxima);
			}

			function ejecutarCambiosAlturas() {
				obtenerDivMasAlto(".alturaTarjetas", 768);
				obtenerDivMasAlto(".thumbnail", 575);
			}

			setTimeout(() => {
				ejecutarCambiosAlturas();
			}, "500");

			$(window).on("resize", function () {
				ejecutarCambiosAlturas();
			});

			function sanitizeFileName(fileName) {
				fileName = fileName.replace(/[^\w\-_.]/g, "_");
				fileName = fileName.trim();
				return fileName;
			}
		</script>

		<script type="text/javascript">
			$(".closeMenu").on("click", function (e) {
				$(".adminPanel").hide("fast");
				$(".openMenu").show("fast");
			});

			$(".openMenu").on("click", function (e) {
				$(".adminPanel").show("fast");
				$(".openMenu").hide("fast");
			});

			function enviarTrivia() {
				var URLactual = window.location + "/trivia";
				window.location.href = URLactual;
			}
		</script>
		<script type="text/javascript">
			const jsConfetti = new JSConfetti();
		</script>

		<script type="text/javascript">
			$(document).ready(function () {
				new VenoBox({
					selector: ".my-image-links",
					numeration: true,
					infinigall: true,
					share: true,
					spinner: "rotating-plane",
				});

				$("#slugInput").val($("#invitacion").data("slug"));
				$("#slugPass").val($("#invitacion").data("slug"));
			});

			new VenoBox({
				selector: ".my-video-links",
			});

			// Centrar QR en mobile
			function ajustarQR() {
				const qrcodeDiv = document.getElementById("qrcode");
				if (!qrcodeDiv) return;

				const parentDiv = qrcodeDiv.parentElement;

				if (window.innerWidth < 768) {
					parentDiv.classList.add("d-flex", "justify-content-center");
				} else {
					parentDiv.classList.remove(
						"d-flex",
						"justify-content-center",
					);
				}
			}

			window.addEventListener("resize", ajustarQR);

			//Cambiar tamaño de los regalos dependiendo cuantos hay
			var tamanioRegalo =
				$(".cantRecuadros .linkRegaloCuadro").length <= 2
					? "col-md-6"
					: "col-md-4";
			$(".cantRecuadros .linkRegaloCuadro").addClass(tamanioRegalo);


			function guardarMovimientoPase(
				idPase,
				slug,
				accion,
				actionMethod,
				valor,
			) {
				$.ajax({
					type: "POST",
					url: "/invitaciones/controllers/movimientosPases.php",
					data: {
						id: idPase,
						slug: slug,
						accion: accion,
						actionMethod: actionMethod,
						valor: valor,
					},
					success: function (response) {},
					error: function (error) {},
				});
			}

			if ($("#invitacion").data("idpase")) {
				const idPase = $("#invitacion").data("idpase");
				const slug = $("#invitacion").data("slug");
				const accion = "VIEW";
				const actionMethod = "insertMovimiento";
				guardarMovimientoPase(idPase, slug, accion, actionMethod, null);
			}
		</script>

		<script type="text/javascript">
			/* que el mensaje de confir no pase los 495 caracteres */
			function enforceMaxLength(el) {
				if (el.value.length > el.maxLength) {
					el.value = el.value.slice(0, el.maxLength);
				}
			}

			$(document).ready(function () {
				// Cuando se clickea en Aceptar
				$("#btnAceptar").click(function () {
					$("#nombrePass").val("");
					$("#mensajePass").val("");
					$("#mensajePass").attr(
						"placeholder",
						"Puedes comentarnos si tienes alguna restricción alimentaria y también dejar un bonito mensaje en el libro de firmas!",
					);
					$("#cantidadPersonasPass").prop("disabled", false).val();
					$("#asistenciaPass").val("Si");
					$("#confirmar-invi").text("Aceptar invitación");
					$("#groupCantPersonas").show();
					$("#mensajeCancelacion").hide();
					$("#modalAceptar").modal("show");
				});
				// Cuando se clickea en Rechazar
				$("#btnRechazar").click(function () {
					$("#nombrePass").val("");
					$("#mensajePass").val("");
					$("#mensajePass").attr("placeholder", "");
					$("#cantidadPersonasPass").val(0).prop("disabled", true);
					$("#asistenciaPass").val("No");
					$("#confirmar-invi").text("Rechazar invitación");
					$("#groupCantPersonas").hide();
					$("#mensajeCancelacion").show();
					$("#modalAceptar").modal("show");
				});
			});

			$("#reconfirmar").click(function () {
				$("#div_reconfirmar").hide();
				$("#divConfirmacion").css("display", "flex");
			});

			$("#confirmar-invi").on("click", function () {
				setTimeout(() => {
					let texto = "asistiras";
					let color = "green";
					let texto_btn = '"Aceptar invitación"';
					if ($("#asistenciaPass").val() == "No") {
						texto = "no asistiras";
						color = "red";
						let texto_btn = '"Rechazar invitación"';
						$("#txt-cant").hide();
					} else {
						$("#txt-cant").show();
					}
					$("#text-confirm-valor").css("color", color);
					$("#text-confirm-valor").text(texto);
					$("#text-confirm-fecha").text(formatDate(Date.now()));
					$("#text-confirm-cant").text(
						$("#cantidadPersonasPass").val(),
					);
					$("#divConfirmacion").hide();
					$("#div_reconfirmar").show();
					$("#modalAceptar").modal("hide");
					$("#confirmar-invi").text(texto_btn);
				}, 4000);
			});

			function formatDate(date) {
				var d = new Date(date),
					day = "" + d.getDate(),
					month = "" + (d.getMonth() + 1),
					year = d.getFullYear();

				if (day.length < 2) day = "0" + day;
				if (month.length < 2) month = "0" + month;

				return [day, month, year].join("/");
			}
		</script>

		<canvas
			style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1000; pointer-events: none;"
			width="1905"
			height="945"></canvas>
	</body>
</html>
